.container {
    max-width: 1200px; /* установить максимальную ширину контейнера */
    margin: 0 auto; /* разместить контейнер по центру страницы */
}

.slider {
    position: relative; /* включить относительное позиционирование для блока слайдера */
}

.slider__inner {
    background-color: aqua;
    position: relative; /* включить относительное позиционирование для блока */
    width: 95%; /* задать ширину блока */
    margin: 2% auto 0 auto; /* задать отступ сверху и разместить блок по центру, по горизонтали */
    overflow: hidden;

}

.slider__view-window {
    overflow: hidden; /* скрыть всё, что находится за пределами видового окна */
    max-width: 50vw; /* установить максимальную ширину окна */
    margin: 0 auto; /* разместить окно по центру */
}

.slider__slides {
    display: flex; /* установить правило размещения flex */
    width: 400%; /* задать ширину блока со слайдами равную количеству слайдов умноженному на 100% */
}

.slider__slides img {
    max-width: 50vw; /* установить максимальную ширину изображений */
}

/* CONTROLS */
#lb1:checked~ .slider__view-window .slides {
    transform: translateX(0); /* смещение !не работает! */
}

#lb2:checked~ .slider__view-window .slides {
    transform: translateX(-100px); /* смещение !не работает! */
}

#lb3:checked~ .slider__view-window .slides {
    transform: translateX(-200px); /* смещение !не работает! */
}

#lb4:checked~ .slider__view-window .slides {
    transform: translateX(-300px); /* смещение !не работает! */
}
/* CONTROLS [END] */


/* Mobile */
@media (max-width: 480px) {}

/* Extra small devices */
@media (min-width: 481px) and (max-width: 767px) {}

/* Small tablets */
@media (min-width: 768px) and (max-width: 991px) {}

/* Large tablets/laptops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Desktops */
@media (min-width: 1200px) and (max-width: 1919px) {}

/* Extra large screens */
@media (min-width: 1920px) {}